@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: "Jost", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;

  --color-navy: #1b2a4a;
  --color-navy-light: #2d3f63;
  --color-cream: #f8f7f4;
  --color-border: #e2e2e2;
  --color-text-muted: #888888;
}

html, body {
  font-family: "Jost", sans-serif;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}
